<!--Thanks for buying page--> 
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span8">
            <div class="alert alert-success" role="alert">Thank you for buying pizza!!!</div>
        </div>
          
        <!-- buttons -->
        <div class="span4">
            <p class="text-info">
                <button class="btn btn-block"
                        onclick="window.location.href='default.htm'">
                    <i class="icon-chevron-left" /> back to store
                </button>
            </p>
        </div>
    </div>
</div>
